

/* Hamburger menu*/

.hamburger_menu{
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    
}

.hamburger_menu #burger_links{
    opacity: 0;
    transform: translateX(-15px);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.hamburger_menu #burger_links.show{
    opacity: 1;
    transform: translateX(0);
    background-color: rgb(74, 131, 255);
    visibility: visible;
}



.hamburger_menu a{
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    flex-direction: column;
    transition: 0.3s;
}

.hamburger_menu a.iconHam{
    background: #0c3dd2;
    display: block !important;
    position: relative;
    right: 0;
    left: 0;
}

.hamburger_menu a:hover{
    background-color: #a1cbeb;
    color: rgb(33, 11, 133);
}

.profileInner{
    height: 100%;
    width: 30%;
    background-color: #d9d9d9;
}

.profileOuter{
    background-color: #cac5b9;
}
